Port 22
ListenAddress 127.0.0.1

LogLevel DEBUG

AuthorizedKeysFile none

PermitRootLogin yes
PermitEmptyPasswords yes

AllowTcpForwarding yes
AllowStreamLocalForwarding yes

GatewayPorts yes

Subsystem sftp /usr/lib/openssh/sftp-server